<section class="ticket-detail-container">
    <main class="ticket-detail-main">
      <section class="wrapper">
      <section class="title-user">
        <h1 class="title-1">Reporte de Tickets</h1>
        <h2 class="title-user">
          Bienvenido Usuario DRE - Luis Martínez
        </h2>
      </section>
        <section class="search-filter">
          <span class="search-filter-text01">
            <h3>Código Modular:</h3>
            <input class= "input-01 input"type="text">
          </span>
          <span class="search-filter-text02">
            <h3>Estado:</h3>
            <input type="text" class= "input-02 input">
          </span>
          <span class="search-filter-text03">
            <h3>ID Ticket:</h3>
            <input type="number" class= "input-03 input" name="number">
          </span>
          <span class="search-filter-text04">
            <h3>Desde:</h3>
            <input type="date" class= "input-04 input" name="date">
          </span>
          <span class="search-filter-text05">
            <h3>Hasta:</h3>
            <input type="date" class= "input-05 input" name="date">
          </span>
          <button type="button" class="table-ticket-button1 button">    
          <span class="table-ticket-text01">
                <span>Buscar</span>
              </span>
          </button>
        </section>
        <section class="table-tickets">
          <table class="table-desktop">
            <thead class="table-head">
                <tr>
                  <th>#</th>
                  <th> Ticket </th>
                  <th> Usuario </th>
                  <th> Tema </th>
                  <th> SubTema </th>
                  <th> Estado </th>
                  <th> Región </th>
                  <th> IGED </th>
                  <th> Fecha respuesta </th>
              </tr>
            </thead>
            <tr class="details">
              <td data-titulo= "Id:">1</td>
              <td data-titulo= "Ticket:">123</td>
              <td data-titulo= "Usuario:">Omar</td>
              <td data-titulo= "Tema:">Computación</td>
              <td data-titulo= "Subtema:">Excel</td>
              <td data-titulo= "Estado:">Pendiente</td>
              <td data-titulo= "Región:">Lima</td>
              <td data-titulo= "Iged:">Lurin I.E.</td>
              <td data-titulo= "Fecha Respuesta:">12/12/23</td>
            </tr>
            <tr class="details">
              <td  data-titulo= "Id:">2</td>
              <td data-titulo= "Ticket:">123</td>
              <td data-titulo= "Usuario:">Omar</td>
              <td data-titulo= "Tema:">Computación</td>
              <td data-titulo= "Subtema:">Excel</td>
              <td data-titulo= "Estado:">Pendiente</td>
              <td data-titulo= "Región:">Lima</td>
              <td data-titulo= "Iged:">Lurin I.E.</td>
              <td data-titulo= "Fecha Respuesta:">12/12/23</td>
            </tr>
          </table>
        </section>
      </section>
    </main>
  <footer class="footer"></footer>
</section>
