<section class="ticket-detail-container">
    <main class="ticket-detail-main">
      <section class="itle-user">
        <h1 class="title-1">Reporte de Tickets</h1>
        <h2 class="title-user">
          Bienvenido Usuario DRE - Luis Martínez
        </h2>
      </section>
        <section class="search-filter">
          <span class="search-filter-text01">
            <h3>Código Modular:</h3>
            <input class= "input-01 input"type="text">
          </span>
          <span class="search-filter-text02">
            <h3>Estado:</h3>
            <input type="text" class= "input-02 input">
          </span>
          <span class="search-filter-text03">
            <h3>ID Ticket:</h3>
            <input type="number" class= "input-03 input" name="number">
          </span>
          <span class="search-filter-text04">
            <h3>Desde:</h3>
            <input type="date" class= "input-04 input" name="date">
          </span>
          <span class="search-filter-text05">
            <h3>Hasta:</h3>
            <input type="date" class= "input-05 input" name="date">
          </span>
          <button type="button" class="table-ticket-button1 button">
              <span class="table-ticketl-text01">
                <span>Buscar</span>
                <br />
              </span>
          </button>
        </section>
        <section class="table-tickets">
          <table>
            <tr>
              <th>#</th>
              <th> Ticket </th>
              <th> Usuario </th>
              <th> Tema </th>
              <th> SubTema </th>
              <th> Estado </th>
              <th> Región </th>
              <th> IGED </th>
              <th> Fecha respuesta </th>
            </tr>
            <tr class="details">
              <td>1</td>
              <td>123</td>
              <td>Omar</td>
              <td>Computación</td>
              <td>Excel</td>
              <td>Pendiente</td>
              <td>Lima</td>
              <td>Lurin I.E.</td>
              <td>12/12/23</td>
            </tr>
        </table>
        </section>
    </main>
  <footer class="footer"></footer>
</section>
