<div id="body" class="tech-register-ticket-container">
  <main class="tech-register-ticket-main">
    <section class="tech-register-ticket-section">
      <div id="description" class="tech-register-ticket-description">
        <div class="tech-register-ticket-container01">
          <img
            alt="image"
            src="assets/Usuario-400w.png"
            class="tech-register-ticket-image"
          />
          <h2 class="tech-register-ticket-text">Nuevo ticket</h2>
          <span class="tech-register-ticket-text01">
            <span class="tech-register-ticket-text02">
              (*)
              <span [innerHTML]="raw7l6e"></span>
            </span>
            <span class="tech-register-ticket-text03">Campos obligatorios</span>
          </span>
        </div>
        <div class="tech-register-ticket-container02">
          <div class="tech-register-ticket-container03">
            <h1 class="tech-register-ticket-text04">Formulario de ayuda </h1>
            <p class="tech-register-ticket-text05">
              Solo los usuarios registrados en el SIAGIE con los siguientes
              roles podrán registrar su requerimiento o reportar una incidencia.
            </p>
          </div>
          <p class="tech-register-ticket-text06">
            Especialista Siagie, Director Inicial, Director Primaria, Director
            Secundaria, Director EBE - Inicial,  Director EBE - Primaria,
            Director EBA - Avanzado, Director EBA - Inicial / Intermedio
          </p>
        </div>
      </div>
      <div id="form-data" class="tech-register-ticket-form-data">
        <div class="tech-register-ticket-container04">
          <form
            id="user-information"
            enctype="text/plain"
            class="tech-register-ticket-form"
          >
            <div class="tech-register-ticket-container05">
              <label for="user-information" class="tech-register-ticket-text07">
                <span class="tech-register-ticket-text08">DNI de usuario</span>
                <span> </span>
                <span class="tech-register-ticket-text10">*</span>
                <span class="tech-register-ticket-text11">:</span>
              </label>
              <div class="tech-register-ticket-container06">
                <input
                  type="text"
                  name="dni_input"
                  required
                  placeholder="Ingrese el dni"
                  class="tech-register-ticket-textinput input"
                />
                <button
                  type="button"
                  class="tech-register-ticket-button button"
                >
                  <span class="tech-register-ticket-text12">
                    <span>Validar</span>
                    <br />
                  </span>
                </button>
              </div>
            </div>
            <div class="tech-register-ticket-container07">
              <label for="user-information" class="tech-register-ticket-text15">
                <span class="tech-register-ticket-text16">Usuario</span>
                <span> </span>
                <span class="tech-register-ticket-text18">*</span>
                <span class="tech-register-ticket-text19">:</span>
              </label>
              <input
                type="text"
                name="dni_input"
                required
                placeholder="-"
                class="tech-register-ticket-textinput1 input"
              />
            </div>
            <div class="tech-register-ticket-container08">
              <label for="user-information" class="tech-register-ticket-text20">
                <span class="tech-register-ticket-text21">Nombres</span>
                <span> </span>
                <span class="tech-register-ticket-text23">*</span>
                <span class="tech-register-ticket-text24">:</span>
              </label>
              <input
                type="text"
                name="dni_input"
                required
                placeholder="-"
                class="tech-register-ticket-textinput2 input"
              />
            </div>
            <div class="tech-register-ticket-container09">
              <label for="user-information" class="tech-register-ticket-text25">
                <span class="tech-register-ticket-text26">Tipo de sede</span>
                <span> </span>
                <span class="tech-register-ticket-text28">*</span>
                <span class="tech-register-ticket-text29">:</span>
              </label>
              <select class="tech-register-ticket-select">
                <option value="DRE" selected>DRE</option>
                <option value="UGEL">UGEL</option>
                <option value="IIEE">IIEE</option>
              </select>
            </div>
            <div class="tech-register-ticket-container10">
              <label for="user-information" class="tech-register-ticket-text30">
                <span class="tech-register-ticket-text31">
                  Correo
                  <span [innerHTML]="rawk20f"></span>
                </span>
                <br class="tech-register-ticket-text32" />
                <span class="tech-register-ticket-text33">electrónico</span>
                <span> </span>
                <span class="tech-register-ticket-text35">*</span>
                <span class="tech-register-ticket-text36">:</span>
              </label>
              <input
                type="text"
                name="dni_input"
                required
                placeholder="-"
                class="tech-register-ticket-textinput3 input"
              />
            </div>
            <div class="tech-register-ticket-container11">
              <label for="user-information" class="tech-register-ticket-text37">
                <span>Teléfono </span>
                <span class="tech-register-ticket-text39">*</span>
                <span class="tech-register-ticket-text40">:</span>
              </label>
              <input
                type="text"
                name="dni_input"
                required
                placeholder="-"
                class="tech-register-ticket-textinput4 input"
              />
            </div>
            <div class="tech-register-ticket-container12">
              <label for="user-information" class="tech-register-ticket-text41">
                Anexo:
              </label>
              <input
                type="text"
                name="dni_input"
                required
                placeholder="-"
                class="tech-register-ticket-textinput5 input"
              />
            </div>
          </form>
        </div>
        <div class="tech-register-ticket-container13">
          <div class="tech-register-ticket-container14">
            <div id="description-form" class="tech-register-ticket-container15">
              <span class="tech-register-ticket-text42">
                <span>
                  Recuerde que su consulta solo deberá hacer referencia
                  <span [innerHTML]="raw412f"></span>
                </span>
                <span class="tech-register-ticket-text44">
                  a una sola persona
                </span>
                <span>
                  , sea alumno, director, o especialista. Si tiene a otros
                  usuarios con el mismo inconveniente, deberá realizar el
                  registro de la petición en un nuevo formulario.
                </span>
              </span>
            </div>
            <div class="tech-register-ticket-container16">
              <div class="tech-register-ticket-container17">
                <label
                  for="user-information"
                  class="tech-register-ticket-text46"
                >
                  <span class="tech-register-ticket-text47">Tema</span>
                  <span> </span>
                  <span class="tech-register-ticket-text49">*</span>
                </label>
                <select class="tech-register-ticket-select1">
                  <option value="Evaluación" selected>Evaluación</option>
                </select>
              </div>
              <select class="tech-register-ticket-select2">
                <option value="Acta consolidada de evaluación" selected>
                  Acta consolidada de evaluación
                </option>
              </select>
              <select class="tech-register-ticket-select3">
                <option value="Rectificación de actas" selected>
                  Rectificación de actas
                </option>
              </select>
              <select class="tech-register-ticket-select4">
                <option value="Otros" selected>Otros</option>
              </select>
              <div class="tech-register-ticket-container18">
                <label
                  for="user-information"
                  class="tech-register-ticket-text50"
                >
                  <span>
                    Consulta
                    <span [innerHTML]="rawoc3s"></span>
                  </span>
                  <span class="tech-register-ticket-text52">*</span>
                </label>
                <textarea
                  rows="6"
                  placeholder="Escribe tu consulta..."
                  class="tech-register-ticket-textarea textarea"
                ></textarea>
              </div>
              <div class="tech-register-ticket-container19">
                <label
                  for="user-information"
                  class="tech-register-ticket-text53"
                >
                  <span>Subir </span>
                  <br />
                  <span>archivos</span>
                  <br />
                </label>
                <div class="tech-register-ticket-container20">
                  <div class="tech-register-ticket-container21">
                    <button
                      type="button"
                      class="tech-register-ticket-button1 button"
                    >
                      <span class="tech-register-ticket-text58">
                        <span>Seleccionar archivos</span>
                        <br />
                      </span>
                    </button>
                    <span class="tech-register-ticket-text61">
                      <span>
                        Ningún archivo
                        <span [innerHTML]="rawx72s"></span>
                      </span>
                      <span>seleccionado</span>
                      <br />
                    </span>
                  </div>
                  <span class="tech-register-ticket-text65">
                    Ingrese un archivo con formato (pdf, doc, xls, xlsx, jpg,
                    png, bmp) menor a 5 mb.
                  </span>
                </div>
              </div>
              <button type="submit" class="tech-register-ticket-button2 button">
                <img
                  alt="image"
                  src="/assets/send-svgrepo.svg"
                  class="tech-register-ticket-image1"
                />
                <span>Enviar</span>
              </button>
            </div>
          </div>
        </div>
      </div>
    </section>
  </main>
</div>
