<div class="tech-register-ticket-main">
  <div class="tech-register-ticket-section">


    <div id="description" class="tech-register-ticket-description">

      <div class="tech-register-ticket-container01">
        <img alt="image" src="assets/Usuario-400w.png" class="tech-register-ticket-image" />
      </div>


      <div class="tech-register-ticket-container02">
        <h1 class="tech-register-ticket-text04">Formulario de ayuda </h1>
        <div class="tech-register-ticket-container03">

          <p class="tech-register-ticket-text05">
            Solo los usuarios registrados en el SIAGIE con los siguientes
            roles podrán registrar su requerimiento o reportar una incidencia.
          </p>
        </div>
        <p class="tech-register-ticket-text06">
          Especialista Siagie, Director Inicial, Director Primaria, Director
          Secundaria, Director EBE - Inicial,  Director EBE - Primaria,
          Director EBA - Avanzado, Director EBA - Inicial / Intermedio
        </p>

        <span class="tech-register-ticket-text48">
          <span>
            Recuerde que su consulta solo deberá hacer referencia
          </span>
          <span class="tech-register-ticket-text50">
            a una sola persona
          </span>
          <span>
            , sea alumno, director, o especialista. Si tiene a otros
            usuarios con el mismo inconveniente, deberá realizar el
            registro de la petición en un nuevo formulario.
          </span>
        </span>

      </div>

    </div>



    <div id="form-data" class="tech-register-ticket-form-data">
      <h2 class="tech-register-ticket-text">Nuevo ticket</h2>
      <form autocomplete="off" [formGroup]="formTicket" class="formTicket" (ngSubmit)="registerTicket()">
        <div class="tech-register-ticket-form-group">

          <div class="tech-register-ticket-container04">

            <div class="tech-register-ticket-obligatorio1">
              <span class="tech-register-ticket-text02">
                (*)
              </span>
              <span class="tech-register-ticket-text03">Campos obligatorios</span>
            </div>


            <form autocomplete="off" (ngSubmit)="this.getUserPassportData()" class="login-form">
              <div class="tech-register-ticket-container05">
                <div class="tech-register-ticket-container06">
                  <mat-form-field class="input-4" appearance="fill">
                    <mat-label>DNI</mat-label>
                    <input matInput [(ngModel)]="this.userdni" name="userdni" placeholder="DNI del usuario a buscar"
                      maxlength="8">
                  </mat-form-field>
                  <button type="submit" class="tech-register-ticket-button button">
                    <span class="tech-register-ticket-text12">
                      <span>Validar</span>
                      <br />
                    </span>
                  </button>
                </div>
              </div>
            </form>

            <div class="tech-register-ticket-container07">
              <mat-form-field class="input-1" appearance="fill">
                <mat-label>Usuario</mat-label>
                <input blockTagHtml formControlName="username" matInput required readonly>
                <mat-error *ngIf="formTicket.get('username')?.hasError('required')">El usuario es requerido, se rellena al presionar validar.</mat-error>
              </mat-form-field>

            </div>
            <div class="tech-register-ticket-container08">

              <mat-form-field class="input-1" appearance="fill">
                <mat-label>Nombre</mat-label>
                <input blockTagHtml formControlName="name" matInput required readonly>
                <mat-error *ngIf="formTicket.get('username')?.hasError('required')">El nombre es requerido, se rellena al presionar validar.</mat-error>
              </mat-form-field>

            </div>
            <div class="tech-register-ticket-container10">

              <mat-form-field class="input-1" appearance="fill">
                <mat-label>Correo electrónico</mat-label>
                <input matInput blockTagHtml="this.usermail" formControlName="usermail" required>
                <mat-error *ngIf="formTicket.get('usermail')?.hasError('required')">El correo electrónico es
                  requerido</mat-error>
                <mat-error *ngIf="formTicket.get('usermail')?.hasError('email')">El correo electrónico no está en un
                  formato correcto</mat-error>
              </mat-form-field>

            </div>
            <div class="tech-register-ticket-container09">
              <mat-form-field class="input-1">
                <mat-label>Tipo de sede</mat-label>
                <mat-select [value]="this.sedeFirstOption" [disabled]="true" required>
                  <mat-option *ngFor="let sede of this.sedeOptions" [value]="sede">{{ sede.sede }}</mat-option>
                </mat-select>
              </mat-form-field>
            </div>


            <div class="tech-register-ticket-container11">
              <mat-form-field class="input-1">
                <mat-label>Codigo Modular</mat-label>
                <mat-select [value]="this.institutionFirstOption" required formControlName="institutionId">
                  <mat-option *ngFor="let institution of this.institutions"
                    [value]="institution">{{this.institution.codeAndName}}</mat-option>
                </mat-select>
                <mat-error *ngIf="inputNotValid('formInstitutions', 'institutionId')">Debe seleccionar una IE.</mat-error>
              </mat-form-field>

            </div>



            <div class="tech-register-ticket-container12">
              <mat-form-field appearance="fill">
                <mat-label>Telefono</mat-label>
                <input matInput formControlName="userphone" required blockTagHtml maxlength="9" numericDirective>
                <mat-error *ngIf="formTicket.get('userphone')?.hasError('required')">El número telefónico es
                  requerido</mat-error>

                <mat-error *ngIf="formTicket.get('userphone')?.hasError('pattern')">El número telefónico debe empezar
                  con 9 y tener 9 digitos</mat-error>
              </mat-form-field>

              <mat-form-field appearance="fill">
                <mat-label>Anexo</mat-label>
                <input matInput formControlName="phoneanexo" placeholder="123" blockTagHtml maxlength="3"
                  numericDirective>
                <mat-error *ngIf="formTicket.get('phoneanexo')?.hasError('maxlength')">Se requiere máx 3
                  digitos.</mat-error>
              </mat-form-field>

            </div>

          </div>

          <div class="tech-register-ticket-container14">
            <div class="tech-register-ticket-container15">

              <div class="tech-register-ticket-container17">

                <mat-form-field class="tech-register-ticket-select1">
                  <mat-label>Selecione una categoría</mat-label>
                  <mat-select required formControlName="categoriesId" (selectionChange)="onSelectedCategory('category', $event)">
                    <mat-option *ngFor="let category of this.categories"
                      [value]="category">{{this.category.name}}</mat-option>
                  </mat-select>
                  <mat-error *ngIf="inputNotValid('formCategories', 'categoriesId')">Debe seleccionar una opción</mat-error>
                </mat-form-field>

                <mat-form-field *ngIf="subCategories1.length > 0" class="tech-register-ticket-select2">
                  <mat-label>Selecione una subcategoría</mat-label>
                  <mat-select required formControlName="subCategories1Id" (selectionChange)="onSelectedCategory('subCategoria1', $event)">
                    <mat-option *ngFor="let category of this.subCategories1"
                      [value]="category">{{this.category.name}}</mat-option>
                  </mat-select>
                  <mat-error *ngIf="inputNotValid('formCategories', 'subCategories1Id')">Debe seleccionar una opción</mat-error>
                </mat-form-field>

                <mat-form-field *ngIf="subCategories2.length > 0" class="tech-register-ticket-select2">
                  <mat-label>Selecione una subcategoría</mat-label>
                  <mat-select required formControlName="subCategories2Id" (selectionChange)="onSelectedCategory('subCategoria2', $event)">
                    <mat-option *ngFor="let category of this.subCategories2"
                      [value]="category">{{this.category.name}}</mat-option>
                  </mat-select>
                  <mat-error *ngIf="inputNotValid('formCategories', 'subCategories2Id')">Debe seleccionar una opción</mat-error>
                </mat-form-field>

                <mat-form-field *ngIf="subCategories3.length > 0" class="tech-register-ticket-select2">
                  <mat-label>Selecione una subcategoría</mat-label>
                  <mat-select required formControlName="subCategories3Id">
                    <mat-option *ngFor="let category of this.subCategories3"
                      [value]="category">{{this.category.name}}</mat-option>
                  </mat-select>
                  <mat-error *ngIf="inputNotValid('formCategories', 'subCategories3Id')">Debe seleccionar una opción</mat-error>
                </mat-form-field>

              </div>

              <div>
                <mat-form-field class="input-3">
                  <mat-label>Consultas o reclamos </mat-label>

                  <textarea class="textarea" rows="10" cols="10" [maxLength]="500" formControlName="usercomment"
                    blockTagHtml matInput required></textarea>
                  <mat-hint align="end">Total de caracteres: {{formTicket.get('usercomment')?.value?.length }} de 500
                    max.</mat-hint>
                  <mat-error *ngIf="formTicket.get('usercomment')?.hasError('required')">El campo de solicitud es
                    requerido.</mat-error>
                  <mat-error *ngIf="formTicket.get('usercomment')?.hasError('maxlength')">El campo de solicitud no puede
                    tener más de 500 caracteres.</mat-error>
                </mat-form-field>
              </div>

              <div class="tech-register-ticket-container20">

                <div class="tech-register-ticket-container21">
                  <div class="tech-register-ticket-container22">

                    <label for="fileInput" class="tech-register-ticket-button1 button">
                      <span class="tech-register-ticket-text64">
                        <span>Seleccionar archivos</span>
                        <br />
                      </span>
                    </label>

                    <input type="file" id="fileInput" style="display: none" (change)="onFileSelected($event)"
                      multiple />

                    <div *ngIf="!selectedFiles || selectedFiles.length === 0">
                      <span class="tech-register-ticket-text67">
                        Ningún archivo seleccionado
                        <br />
                      </span>
                    </div>
                  </div>

                  <div class="container21__files-container" *ngIf="selectedFiles !== null && selectedFiles.length > 0">
                    <div class="files-container__element" *ngFor="let file of selectedFiles">
                      <div class="element__content">
                        <i class="{{this.getIconName(file.type)}}"></i>
                        <span class="content__name">{{ file.name }}</span>
                        <span class="content__size">{{ (file.size/1024).toFixed(2) }} Kb</span>
                      </div>
                      <i class="fas fa-times element__remove" (click)="onRemoveFile(file)"></i>
                    </div>
                  </div>

                  <span class="tech-register-ticket-text71">
                    Ingrese un archivo con formato (pdf, doc, xls, xlsx, jpg,
                    png, bmp) menor a 5 mb.
                  </span>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="formTicket__button">
          <button type="submit" class="tech-register-ticket-button2 button">
            <img alt="image" src="assets/send-svgrepo.svg" class="tech-register-ticket-image1" />
            <span>Enviar</span>
          </button>
        </div>
      </form>

    </div>


  </div>

</div>
