:host {
  display: contents;
}
.header-header {
 width: 360px !important;
}
.tech-register-ticket-main {
  min-width: 1100px;
  display: flex;
  padding-top: 0px;
  padding-bottom: 0px;
  flex-wrap: wrap;
  height: 100%;
  align-content: center;
  justify-content: center;
  background-color: #EDF0F4;
}
.tech-register-ticket-section {

  width: 95%;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  align-items: center;
  align-self: flex-end;
  background-color: #FFFFFF;
}
.tech-register-ticket-description {
  display: flex;
  align-content: center;
  flex-wrap: wrap;
  justify-content: center;
}
.tech-register-ticket-container01 {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
}
.tech-register-ticket-image {
  width:600px;
  height: auto;
  margin: 10px;
}
.tech-register-ticket-text {
  color: rgb(33, 37, 41);
  font-size: 32px;
  font-style: normal;
  font-family: Lato;
  font-weight: 700;
  justify-content: center;
}

.tech-register-ticket-text02 {
  color: #ff2e45;
}
.tech-register-ticket-text03 {
  color: #212529;
}
.tech-register-ticket-container02 {
  gap: var(--dl-space-space-twounits);
  flex: 0 0 auto;
  width: 50%;
  height: auto;
  display: flex;
  align-content: center;
  padding-top: var(--dl-space-space-oneandhalfunits);
  padding-bottom: var(--dl-space-space-oneandhalfunits);
  flex-direction: column;

}
.tech-register-ticket-container03 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.tech-register-ticket-text04 {
  color: #005E3E;
  font-size: 4em;
  font-style: normal;
  font-family: Lato;
  font-weight: 600;
  padding-bottom: 2.5%;
  text-align: center;
}
.tech-register-ticket-text05 {
  color: rgb(33, 37, 41);
  width: auto;
  font-size: 22px;
  font-family: Lato;
  text-align: justify;
  max-width: 700px;
}
.tech-register-ticket-text06 {
  color: rgb(33, 37, 41);
  width: auto;
  font-size: 22px;
  font-family: Lato;
  font-weight: 400;
  text-align: justify;
  max-width: 700px;
}
.tech-register-ticket-form-data {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  padding-top: 2.5%;
  padding-left: 5%;
  padding-bottom: 5%;
  flex-direction: column;
  align-items: center;
}
.tech-register-ticket-form-group {
  width: 100%;
  display: flex;
  flex-wrap: wrap;

  padding-top: 2.5%;
  padding-bottom: 0.5%;
  align-content: center;
  justify-content: center;
}

.mdc-line-ripple{
  height: 480px;

}

.tech-register-ticket-container04 {
  gap: var(--dl-space-space-oneandhalfunits);
  flex: 0 0 auto;
  width: 600px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.tech-register-ticket-form {
  gap: 5px;
  max-width: 500px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  align-content: center;
}
.tech-register-ticket-container05 {
  gap: 75px;
  display: flex;
  align-items: flex-start;
  flex-direction: row;
}
.tech-register-ticket-text07 {
  font-size: 20px;
  align-self: flex-start;
  font-family: Lato;
}
.tech-register-ticket-text08 {
  color: #212529;


}
.tech-register-ticket-text10 {
  color: #ff2e45;
}
.tech-register-ticket-text11 {
  color: #212529;
}
.tech-register-ticket-container06 {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-direction: row;
  width: 435px;
}
.tech-register-ticket-textinput {
  width: 175px;
  font-family: Lato;
  border-color: #E0E0E7;
}
.tech-register-ticket-button {
  border-color: #6C757D;
  background-color: #6C757D;

}
.tech-register-ticket-button:hover {
  cursor: pointer;
}

.tech-register-ticket-button:active {
  transform: scale(0.97);
}

.tech-register-ticket-text12 {
  color: var(--dl-color-gray-white);
  font-style: normal;
  font-family: Lato;
  font-weight: 700;
}
.tech-register-ticket-container07 {

  display: flex;

  justify-content: center;

}

.input-1{
  width: 435px;
}
.input-2{
  width: 200px;
}

.input-3{
  margin-top: 20px;
  width: 600px;
  border-radius:6px;
  border:10px;
  align-self: center;
  resize: none;
}

.textarea{
  resize: none;

}

.input-4{
  width: 230px;
}
.input-5{
  width: 200px;
}

.tech-register-ticket-text15 {
  font-size: 20px;
  align-self: center;
  font-family: Lato;
}
.tech-register-ticket-text16 {
  color: #212529;
}
.tech-register-ticket-text18 {
  color: #ff2e45;
}
.tech-register-ticket-text19 {
  color: #212529;
}
.tech-register-ticket-textinput1 {
  width: 194px;
  font-family: Lato;
  border-color: #E0E0E7;
}

.tech-register-ticket-textinput1:disabled {
  background-color: #FBFBFB;
}

.tech-register-ticket-container08 {
  gap: var(--dl-space-space-unit);
  display: flex;
  gap: 127px;
  align-self: flex-start;
  align-items: flex-start;
  flex-direction: row;
  justify-content: flex-start;
}
.tech-register-ticket-text20 {
  font-size: 20px;
  align-self: center;
  font-family: Lato;
}
.tech-register-ticket-text21 {
  color: #212529;
}
.tech-register-ticket-text23 {
  color: #ff2e45;
}
.tech-register-ticket-text24 {
  color: #212529;
}
.tech-register-ticket-textinput2 {
  width: 300px;
  font-family: Lato;
  border-color: #E0E0E7;
}

.tech-register-ticket-textinput2:disabled {
  background-color: #FBFBFB;
}

.tech-register-ticket-container09 {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-self: flex-start;
  align-items: flex-start;
  flex-direction: row;
  justify-content: flex-start;
  gap: 70px;
}
.tech-register-ticket-text25 {
  font-size: 20px;
  align-self: center;
  font-family: Lato;
}
.tech-register-ticket-text26 {
  color: #212529;
}
.tech-register-ticket-text28 {
  color: #ff2e45;
}
.tech-register-ticket-text29 {
  color: #212529;
}
.tech-register-ticket-select {
  width: 186px;
  padding-top: var(--dl-space-space-halfunit);
  border-color: #CFD8DC;
  border-width: 1px;
  padding-left: var(--dl-space-space-halfunit);
  border-radius: var(--dl-radius-radius-radius4);
  padding-right: var(--dl-space-space-halfunit);
  padding-bottom: var(--dl-space-space-halfunit);
  background-color: #FAFAFA;
}
.tech-register-ticket-container10 {
  gap: var(--dl-space-space-unit);
  display: flex;
  gap: 110px;
  align-self: flex-start;
  align-items: flex-start;
  flex-direction: row;
  justify-content: flex-start;
}
.tech-register-ticket-text30 {
  font-size: 20px;
  align-self: center;
  font-family: Lato;
}
.tech-register-ticket-text31 {
  color: #212529;
}
.tech-register-ticket-text33 {
  color: #212529;
}
.tech-register-ticket-text35 {
  color: #ff2e45;
}
.tech-register-ticket-text36 {
  color: #212529;
}
.tech-register-ticket-textinput3 {
  width: 235px;
  font-family: Lato;
  border-color: #E0E0E7;
}
.tech-register-ticket-container11 {

  display: flex;
  align-self: flex-start;
  align-items: flex-start;
  flex-direction: row;
  justify-content: flex-start;
}
.tech-register-ticket-text37 {
  font-size: 20px;
  align-self: center;
  font-family: Lato;
}
.tech-register-ticket-text41 {
  color: #ff2e45;
}
.tech-register-ticket-text42 {
  color: #212529;
}
.tech-register-ticket-textinput4 {
  width: 240px;
  font-family: Lato;
  font-size: 12px !important;
  border-color: #E0E0E7;
}

.tech-register-ticket-textinput4:disabled {
  background-color: #FBFBFB;
}

.tech-register-ticket-container12 {
  margin-left: 20px;
  display: flex;
  align-self: flex-start;
  align-items: flex-start;
  flex-direction: row;
  justify-content: flex-end;
  gap: var(--dl-space-space-unit);
  /*gap: var(--dl-space-space-unit);

  align-self: flex-start;
  align-items: flex-start;


  gap: 35px;*/
}
.tech-register-ticket-text43 {
  font-size: 20px;
  align-self: center;
  font-family: Lato;
}
.tech-register-ticket-text45 {
  color: #ff2e45;
}
.tech-register-ticket-text46 {
  color: #212529;
}
.tech-register-ticket-textinput5 {
  width: 127px;
  font-family: Lato;
  border-color: #E0E0E7;
}
.tech-register-ticket-container13 {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-self: flex-start;
  align-items: flex-start;
  flex-direction: row;
  justify-content: flex-start;
}
.tech-register-ticket-text47 {
  color: #212529;
  font-size: 20px;
  align-self: center;
  font-family: Lato;
}
.tech-register-ticket-textinput6 {
  width: 100px;
  font-family: Lato;
  border-color: #E0E0E7;
}
.tech-register-ticket-container14 {
  flex: 0 0 auto;
  width: 600px;
  display: flex;
  flex-wrap: wrap;

}

.formTicket__button{
  margin-top: 10px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.tech-register-ticket-container15 {
  flex: 0 0 auto;
  display: flex;
  margin-top: 20px;
  flex-direction: column;
  justify-content: flex-start;
}
.tech-register-ticket-container16 {
  width: 800px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.tech-register-ticket-text48 {
  color: rgb(0, 94, 62);
  max-width: 700px;
  font-size: 18px;
  text-align: justify;
  font-family: Lato;
  padding-top: var(--dl-space-space-oneandhalfunits);
  padding-left: var(--dl-space-space-oneandhalfunits);
  border-radius: var(--dl-radius-radius-radius8);
  padding-right: var(--dl-space-space-oneandhalfunits);
  padding-bottom: var(--dl-space-space-oneandhalfunits);
  background-color: rgb(223, 237, 217);
}
.tech-register-ticket-text50 {
  font-weight: 700;
}
.tech-register-ticket-container17 {
  gap: 10px;
  display: flex;
  width: 600px;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.tech-register-ticket-container18 {
  gap: var(--dl-space-space-fourunits);
  display: flex;
  align-self: center;
  align-items: flex-start;
  flex-direction: row;
  justify-content: flex-start;

}
.tech-register-ticket-text52 {
  font-size: 20px;
  align-self: center;
  font-family: Lato;
}
.tech-register-ticket-text53 {
  color: #212529;
}

.tech-register-ticket-select1 {
  width: 400px;
  border-color: #fafafaff;
  border-width: 2px;
  border-radius: var(--dl-radius-radius-radius4);
  background-color: #FAFAFA;
}

.tech-register-ticket-select2 {
  width: 400px;
  border-color: #fafafaff;
  border-width: 2px;
  border-radius: var(--dl-radius-radius-radius4);
  background-color: #fafafaff;
}

.tech-register-ticket-select3 {
  width: 300px;
  margin-left: 124px;
  padding-top: var(--dl-space-space-halfunit);
  border-color: #CFD8DC;
  border-width: 1px;
  padding-left: var(--dl-space-space-halfunit);
  border-radius: var(--dl-radius-radius-radius4);
  padding-right: var(--dl-space-space-halfunit);
  padding-bottom: var(--dl-space-space-halfunit);
  background-color: #FAFAFA;
}
.tech-register-ticket-select4 {
  width: 300px;
  margin-left: 124px;
  padding-top: var(--dl-space-space-halfunit);
  border-color: #CFD8DC;
  border-width: 1px;
  padding-left: var(--dl-space-space-halfunit);
  border-radius: var(--dl-radius-radius-radius4);
  padding-right: var(--dl-space-space-halfunit);
  padding-bottom: var(--dl-space-space-halfunit);
  background-color: #FAFAFA;
}

.tech-register-ticket-text56 {
  font-size: 20px;
  align-self: center;
  font-family: Lato;
}
.tech-register-ticket-text58 {
  color: #ff2e45;
}

.tech-register-ticket-container20 {
  gap: 40px;
  display: flex;
  align-self: center;
  align-items: flex-start;
  flex-direction: row;
  justify-content: center;
}

.tech-register-ticket-container21 {

  display: flex;
  width: 435px;
  align-items: flex-start;
  flex-direction: column;
  align-content: center;
}

.container21__files-container{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 15px;
}

.element__content{
  background: #fff;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 10px;
  border-radius: 1%;
  width: 400px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.files-container__element{
  display: flex;
  flex-direction: row;
  align-items: center;
}

.content__name {
  display: inline-block;
  max-width: 250px;
  overflow: hidden;
  text-overflow: ellipsis; /* Esto agrega puntos suspensivos (...) si el texto se desborda */
  white-space: nowrap;
}

.element__remove {
  position: relative;
  left: 20px;
}

.element__remove:hover {
  cursor: pointer;
}

.tech-register-ticket-container22 {
  gap: var(--dl-space-space-unit);
  height: 80px;
  width: 400px;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;

}
.tech-register-ticket-button1 {
  align-self: center;

  border-color: #6C757D;
  background-color: #6C757D;
}

.tech-register-ticket-button1:hover {
  cursor: pointer;
}

.tech-register-ticket-button1:active {
  transform: scale(0.97);
}

.tech-register-ticket-text64 {
  color: var(--dl-color-gray-white);
  font-style: normal;
  font-family: Lato;
  font-weight: 700;
  display: flex;
  text-align: center;
}
.tech-register-ticket-text67 {
  align-self: center;
  font-family: Lato;
  text-align: center;
  line-height: 30px;
  height: 100px;

}

.tech-register-ticket-text71 {
  margin-top: 20px;
  align-self: flex-start;
  font-family: Lato;
  text-shadow: 0px 4px 4px #ebff00;
  text-align: center;
}
.tech-register-ticket-button2 {
  gap: var(--dl-space-space-unit);
  color: var(--dl-color-gray-white);
  width: 152px;
  height: 42px;
  display: flex;
  font-size: 18px;
  font-style: normal;

  font-family: Lato;
  font-weight: 400;
  border-width: 0px;
  flex-direction: row;
  background-color: rgb(130, 149, 59);
}
.tech-register-ticket-button2:hover {
  cursor: pointer;
}
.tech-register-ticket-button2:active {
  transform: scale(0.97);
}
.tech-register-ticket-image1 {
  width: auto;
  object-fit: cover;
  align-self: center;
}

