<div class="login-container">
  <main class="login-main">
    <article class="login-article">
      <section class="login-section">
        <span class="login-text">SIAGIE - Tickets</span>
        <img
          alt="image"
          src="assets/user-ticket-answer.png"
          loading="lazy"
          class="login-image"
        />
      </section>
    </article>
    <article class="login-article1">
      <section class="login-section1">
        <img
          alt="image"
          src="assets/MINEDU-logo.png"
          loading="lazy"
          class="login-image1"
        />
        <div class="login-container1">
          <span class="login-text01">
            <span>Iniciar sesión</span>
            <br />
          </span>
          <span class="login-text04">
            <span>Bienvenido al sistema de tickets del SIAGIE</span>
            <br />
          </span>
        </div>
        <div class="login-container2">
          <form class="login-form">
            <label class="login-text07">
              <span>Ingresa el usuario</span>
              <br />
            </label>
            <input
              type="text"
              name="user_input"
              required
              placeholder="Usuario"
              class="login-textinput input"
            />
            <label class="login-text10">
              <span>Contraseña</span>
              <br />
            </label>
            <input
              type="password"
              name="pass_input"
              required
              class="login-textinput1 input"
            />
            <label class="login-text13">
              <span>Seleccionar tipo de usuario</span>
              <br />
            </label>
            <select class="login-select">
              <option value="Usuario Siagie" selected>Usuario Siagie</option>
              <option value="Usuario Agente OTIC">Usuario Agente OTIC</option>
            </select>
            <img
              alt="pastedImage"
              src="/pastedimage-1gpd-1500h.png"
              class="login-pasted-image"
            />
            <input
              type="text"
              name="captcha_input"
              required
              placeholder="Codigo de verificación"
              class="login-textinput2 input"
            />
            <button type="submit" class="login-button button">
              <span class="login-text16">
                <span>Ingresar</span>
                <br />
              </span>
            </button>
          </form>
          <span class="login-text19">
            <span>¿Olvidó su contraseña?</span>
            <br />
          </span>
          <span class="login-text22">
            © 2023 Todos los derechos reservados.
          </span>
          <span class="login-text23">Ministerio de Educación</span>
        </div>
      </section>
    </article>
  </main>
</div>
