<div class="ticket-detail-container">
  <main class="ticket-detail-main">
    <div class="ticket-detail-container01">
      <div class="ticket-detail-container02">
        <span class="ticket-detail-text">Ver detalles de la incidencia</span>
        <div class="ticket-detail-container03">
          <span class="ticket-detail-text001">
            <span>Ir a notas</span>
            <br />
          </span>
          <div class="ticket-detail-container04">
            <span class="ticket-detail-text004">
              <span>Estado actual</span>
              <br />
            </span>
            <div class="ticket-detail-container05">
              <button type="button" class="ticket-detail-button button">
                <ng-container *ngFor="let ticket_detail of ticket_Details">
                  {{ticket_detail.usiStatus}}
                </ng-container>
              </button>
              <button type="button" class="ticket-detail-button1 button">
                <span>Imprimir</span>
                <img alt="image" src="assets/print.svg" class="ticket-detail-image" />
              </button>
            </div>
          </div>
        </div>
        <div class="ticket-detail-headers-detail">
          <span class="ticket-detail-text008">
            <span>Ticket</span>
            <br />
          </span>
          <span class="ticket-detail-text011">Categoría</span>
          <span class="ticket-detail-text012">
            <span>Fecha de apertura</span>
            <br />
          </span>
          <span class="ticket-detail-text015">
            <span>Fecha de actualización</span>
            <br />
          </span>
        </div>
        <div class="ticket-detail-content-detail">
          <span class="ticket-detail-text018">
            <ng-container *ngFor="let ticket of tickets">
              {{ticket.id}}
            </ng-container>
          </span>
          <span class="ticket-detail-text019">
            <ng-container *ngFor="let ticket of tickets">
              {{ticket.subcategory1Id}}
            </ng-container>
          </span>
          <span class="ticket-detail-text020">2023-05-18 12:09</span>
          <span class="ticket-detail-text021">
            <ng-container *ngFor="let ticket_detail of ticket_Details">
              {{ticket_detail.dateMod}}
            </ng-container>
          </span>
        </div>
      </div>
      <div class="ticket-detail-container06">
        <div class="ticket-detail-container07">
          <div class="ticket-detail-container08">
            <span class="ticket-detail-text022">Asignada a </span>
            <span class="ticket-detail-text023">
              <ng-container *ngFor="let ticket_detail of ticket_Details">
                {{ticket_detail.assignedTechName}}
              </ng-container></span>
          </div>
        </div>
        <div class="ticket-detail-container09">
          <div class="ticket-detail-container10">
            <span class="ticket-detail-text024">Canal de recepción:</span>
            <span class="ticket-detail-text025">
                <ng-container *ngFor="let ticket_detail of ticket_Details">
                  {{ticket_detail.source}}
                </ng-container>
              </span>
          </div>
          <div class="ticket-detail-container11">
            <span class="ticket-detail-text026">Resolución:</span>
            <span class="ticket-detail-text027">
                <ng-container *ngFor="let ticket_detail of ticket_Details">
                  {{ticket_detail.status}}
                </ng-container>
            </span>
          </div>
        </div>
        <div class="ticket-detail-container12">
          <div class="ticket-detail-container13">
            <span class="ticket-detail-text028">Prioridad</span>
            <span class="ticket-detail-text029">
                <ng-container *ngFor="let ticket_detail of ticket_Details">
                  {{ticket_detail.status}}
                </ng-container>
            </span>
          </div>
        </div>
      </div>
      <div class="ticket-detail-container14">
        <div class="ticket-detail-container15">
          <span class="ticket-detail-text030">Resumen:</span>
          <span class="ticket-detail-text031">Descripción:</span>
        </div>
        <div class="ticket-detail-container16">
          <span class="ticket-detail-text032">
                <ng-container *ngFor="let ticket_detail of ticket_Details">
                  {{ticket_detail.summary}}
                </ng-container>
          </span>
          <span class="ticket-detail-text033">
                <ng-container *ngFor="let ticket of tickets">
                  {{ticket.description}}
                </ng-container>
          </span>
        </div>
      </div>
      <div class="ticket-detail-container17">
        <div class="ticket-detail-container18">
          <div class="ticket-detail-container19">
            <span class="ticket-detail-text034">DNI estudiante</span>
            <span class="ticket-detail-text035">Etiqueta</span>
            <span class="ticket-detail-text036">Modalidad</span>
            <span class="ticket-detail-text037">Principal</span>
            <span class="ticket-detail-text038">Tipo de atención</span>
            <span class="ticket-detail-text039">DNI</span>
            <span class="ticket-detail-text040">Apellidos y Nombres</span>
            <span class="ticket-detail-text041">Código modular IE</span>
            <span class="ticket-detail-text042">Correo electrónico</span>
          </div>
          <div class="ticket-detail-container20">
            <span class="ticket-detail-text043">
              3160477: MANTENIMIENTO DE USUARIOS/ ACTUALIZAR LOGIN
            </span>
            <span class="ticket-detail-text044">
              No permite agregar Usuario IIEE
            </span>
            <span class="ticket-detail-text045">EBR</span>
            <span class="ticket-detail-text046">.</span>
            <span class="ticket-detail-text047">Requerimientoi</span>
            <span class="ticket-detail-text048">
                <ng-container *ngFor="let user_external of user_externals">
                  {{user_external.dni}}
                </ng-container>
            </span>
            <span class="ticket-detail-text049">
                <ng-container *ngFor="let user_external of user_externals">
                  {{user_external.username}} + {{user_external.username}}
                </ng-container>
            </span>
            <span class="ticket-detail-text050">
                <ng-container *ngFor="let ticket_detail of ticket_Details">
                  {{ticket_detail.assignedTechId}}
                </ng-container>
            </span>
            <span class="ticket-detail-text051">
                <ng-container *ngFor="let user_external of user_externals">
                  {{user_external.email}}
                </ng-container>
            </span>
          </div>
        </div>
        <div class="ticket-detail-container21">
          <div class="ticket-detail-container22">
            <span class="ticket-detail-text052">
              <span class="ticket-detail-text053">Proceso</span>
              <br />
            </span>
            <span class="ticket-detail-text055">Teléfono</span>
            <span class="ticket-detail-text056">Impacto</span>
            <span class="ticket-detail-text057">Urgencia</span>
            <span class="ticket-detail-text058">Estado USI</span>
          </div>
          <div class="ticket-detail-container23">
            <span class="ticket-detail-text059">
                <ng-container *ngFor="let ticket_detail of ticket_Details">
                  {{ticket_detail.process}}
                </ng-container>
            </span>
            <span class="ticket-detail-text060">
                <ng-container *ngFor="let user_external of user_externals">
                  {{user_external.phone}}
                </ng-container>
            </span>
            <span class="ticket-detail-text061">
            <ng-container *ngFor="let ticket_detail of ticket_Details">
                  {{ticket_detail.impact}}
                </ng-container>
            </span>
            <span class="ticket-detail-text062">
            <ng-container *ngFor="let ticket_detail of ticket_Details">
                  {{ticket_detail.urgency}}
                </ng-container>
            </span>
            <span class="ticket-detail-text063">
            <ng-container *ngFor="let ticket_detail of ticket_Details">
                  {{ticket_detail.usiStatus}}
                </ng-container>
            </span>
          </div>
        </div>
      </div>
      <div class="ticket-detail-container24">
        <div class="ticket-detail-container25">
          <span class="ticket-detail-text064">Archivos adjuntos</span>
        </div>
        <div class="ticket-detail-container26">
          <!--<app-documents></app-documents>
          <app-documents></app-documents>
          <app-documents></app-documents>-->
        </div>
      </div>
      <div class="ticket-detail-container27">
        <div class="ticket-detail-container28">
          <span class="ticket-detail-text065">Relaciones:</span>
        </div>
        <div class="ticket-detail-container29">
          <span class="ticket-detail-text066">
            No hay relaciones actuales
          </span>
        </div>
      </div>
      <div class="ticket-detail-container30">
        <div class="ticket-detail-container31">
          <span class="ticket-detail-text067">Notas:</span>
        </div>
        <div class="ticket-detail-container32">
          <div class="ticket-detail-container33">
            <div class="ticket-detail-container34">
              <span class="ticket-detail-text068">
              <ng-container *ngFor="let ticket_note of ticket_notes">
                  {{ticket_note.id}}
                </ng-container>
              </span>
              <span class="ticket-detail-text069">
                <span>
                  <ng-container *ngFor="let ticket_note of ticket_notes">
                    {{ticket_note.techName}}
                  </ng-container>
                </span>
                <span class="ticket-detail-text071">

                </span>
              </span>
              <span class="ticket-detail-text072">
                  <ng-container *ngFor="let ticket_note of ticket_notes">
                    {{ticket_note.date}}
                  </ng-container>
              </span>
            </div>
            <div class="ticket-detail-container35">
              <span class="ticket-detail-text073">
                <span>
                  <ng-container *ngFor="let ticket_note of ticket_notes">
                    {{ticket_note.comment}}
                  </ng-container>
                </span>
              </span>
            </div>
          </div>

          <div class="ticket-detail-container42">
            <textarea
              rows="6"
              placeholder="Escribe tu consulta..."
              class="ticket-detail-textarea textarea"
            ></textarea>
            <button type="button" class="ticket-detail-button2 button">
              <span class="ticket-detail-text091">
                <span>Añadir nota</span>
                <br />
              </span>
            </button>
          </div>
          <div class="ticket-detail-container43">
            <span class="ticket-detail-text094">
              <span>
                Seleccionar archivo
              </span>
              <br />
              <span>
                (tamaño max. 5000 Kb)
              </span>
            </span>
            <span class="ticket-detail-text098">
              <span>Ningún archivo seleccionado</span>
              <br />
            </span>
            <button type="button" class="ticket-detail-button3 button">
              <span class="ticket-detail-text101">Subir archivo</span>
            </button>
          </div>
        </div>
      </div>
    </div>
  </main>
  <div class="ticket-detail-container44"></div>
</div>
