<div class="ticket-detail-container">
  <main class="ticket-detail-main">

    <div class="ticket-detail-container01">
      <div class="ticket-detail-container02">
        <span class="ticket-text">Ver detalles de la incidencia</span>
        <div class="ticket-detail-container03">
          <span class="ticket-detail-text001">
            <span>Ir a notas</span>
            <br />
          </span>
          <div class="ticket-detail-container04">
            <span class="ticket-detail-text004">
              <span>Estado actual</span>
              <br />
            </span>
            <div class="ticket-detail-container05">
              <button type="button" class="ticket-detail-button button">
                Pendiente
              </button>
              <button type="button" class="ticket-detail-button1 button">
                <span>Imprimir</span>
                <img alt="image" src="assets/print.svg" class="ticket-detail-image" />
              </button>
            </div>
          </div>
        </div>



        <div class="ticket-detail-headers-detail">
          <span class="ticket-detail-text008">
            <span>Ticket</span>
            <br />
          </span>
          <span class="ticket-detail-text011">Categoría</span>
          <span class="ticket-detail-text012">
            <span>Fecha de apertura</span>
            <br />
          </span>
          <span class="ticket-detail-text015">
            <span>Fecha de actualización</span>
            <br />
          </span>
        </div>
        <div class="ticket-detail-content-detail">
          <span class="ticket-detail-text018">3160477</span>
          <span class="ticket-detail-text019">Otros</span>
          <span class="ticket-detail-text020">2023-05-18 12:09</span>
          <span class="ticket-detail-text021">2023-05-18 12:09</span>
        </div>
      </div>
      <div class="ticket-detail-container17">
        <div class="ticket-detail-container07">
          <div class="ticket-detail-container18">
            <span class="ticket-detail-text022">Asignada a </span>
            <span class="ticket-detail-text023">LBULEJE</span>
          </div>


        </div>


        <div class="ticket-detail-container09">
          <div class="ticket-detail-container18">
            <span class="ticket-detail-text024">Canal de recepción:</span>
            <span class="ticket-detail-text025">Multicanal</span>
          </div>

        </div>

        <div class="ticket-detail-container09">

          <div class="ticket-detail-container18">
            <span class="ticket-detail-text026">Resolución:</span>
            <span class="ticket-detail-text027">Abierta</span>
          </div>
        </div>



        <div class="ticket-detail-container12">
          <div class="ticket-detail-container18">
            <span class="ticket-detail-text028">Prioridad</span>
            <span class="ticket-detail-text029">Medio</span>
          </div>
        </div>
      </div>

      <mat-divider horizontal></mat-divider>


      <div class="ticket-detail-container14">
        <div class="ticket-detail-container15">
          <span class="ticket-detail-text030">Resumen:</span>

          <span class="ticket-detail-text032">
            3160477: MANTENIMIENTO DE USUARIOS/ ACTUALIZAR LOGIN
          </span>

        </div>
        <div class="ticket-detail-container16">


          <span class="ticket-detail-text031">Descripción:</span>
          <span class="ticket-detail-text033">
            Buenas tardes, por favor necesito su apoyo para solucionar el caso
            de la Docente Fátima Odiaga Ríos, identificada con DNI N° 70208682
            problema para agregar al mantenimiento de usuario, toda vez que sale
            el número de usuario 4 números y no permite agregar, se adjunta
            capturas de pantalla. Gracias.
          </span>
        </div>
      </div>
      <div class="ticket-detail-container17">

        <div class="ticket-detail-container18">
          <span class="ticket-detail-text034">Repriorización</span>
          <mat-form-field>
            <mat-label>Código Modular</mat-label>
            <mat-select>
              <mat-option value="one">First option</mat-option>
              <mat-option value="two">Second option</mat-option>
            </mat-select>
          </mat-form-field>
        </div>


        <div class="ticket-detail-container18">
          <span class="ticket-detail-text034">Tipo de atención</span>
          <span class="ticket-detail-text047">Requerimiento</span>
        </div>
        <div class="ticket-detail-container18">
          <span class="ticket-detail-text034">Modalidad</span>
          <span class="ticket-detail-text045">EBR</span>
        </div>
        <div class="ticket-detail-container18">
          <span class="ticket-detail-text034">DNI</span>
          <span class="ticket-detail-text048">26957156</span>
        </div>
        <div class="ticket-detail-container18">
          <span class="ticket-detail-text034">Apellidos y Nombres</span>
          <span class="ticket-detail-text049">
            RISCO RUIZ ELMER JAVIER - Usuario IE
          </span>
        </div>
        <div class="ticket-detail-container18">
          <span class="ticket-detail-text034">Código modular IE</span>
          <span class="ticket-detail-text050">1107093</span>
        </div>
        <div class="ticket-detail-container18">
          <span class="ticket-detail-text034">Correo electrónico</span>
          <span class="ticket-detail-text051">
            E.R.NEGOCIOS_15@OUTLOOK.COM
          </span>
        </div>


        <div class="ticket-detail-container18">
          <span class="ticket-detail-text034">Proceso</span>
          <span class="ticket-detail-text045">010701 : Administración IE -&gt; Seguridad -&gt; Mantenimiento de
            Usuarios</span>
        </div>
        <div class="ticket-detail-container18">
          <span class="ticket-detail-text034">Teléfono</span>
          <span class="ticket-detail-text048">949036449</span>
        </div>
        <div class="ticket-detail-container18">
          <span class="ticket-detail-text034">Impacto</span>
          <span class="ticket-detail-text049">
            3030: Bajo
          </span>
        </div>
        <div class="ticket-detail-container18">
          <span class="ticket-detail-text034">Urgencia</span>
          <span class="ticket-detail-text050">1010: Alto</span>
        </div>
        <div class="ticket-detail-container18">
          <span class="ticket-detail-text034">Estado USI</span>
          <span class="ticket-detail-text051">
            Pendiente
          </span>
        </div>

      </div>
      <div class="ticket-detail-container24">
        <div class="ticket-detail-container25">
          <span class="ticket-detail-text064">Archivos adjuntos</span>
        </div>
        <div class="ticket-detail-container26">
          <!--<app-documents></app-documents>
          <app-documents></app-documents>
          <app-documents></app-documents>-->
        </div>
      </div>

      <div class="ticket-detail-container27">
        <div class="ticket-detail-container28">
          <span class="ticket-detail-text065">Relaciones:</span>
        </div>
        <div class="ticket-detail-container29">
          <span class="ticket-detail-text066">
            No hay relaciones actuales
          </span>
        </div>
      </div>


      <div class="ticket-detail-container30">
        <div class="ticket-detail-container31">
          <span class="ticket-detail-text067">Notas:</span>
        </div>
        <div class="ticket-detail-container32">
          <div class="ticket-detail-container33">
            <div class="ticket-detail-container34">
              <span class="ticket-detail-text068">(3733303)</span>
              <span class="ticket-detail-text069">
                <span>MDS_SIAGIE05 (Informador)</span>
                <span class="ticket-detail-text071">

                </span>
              </span>
              <span class="ticket-detail-text072">2023-05-30 16:55</span>
            </div>
            <div class="ticket-detail-container35">
              <span class="ticket-detail-text073">
                <span>
                  Se solicita actualizar login usuario de la docente ODIAGA RIOS
                  FATIMA según documento de identidad
                </span>
                <br />
                <span>DNI 70208682</span>
                <br />
                <span>Dice: 2691</span>
                <br />
                <span>Debe decir: 70208682</span>
                <br />
                <span>C.M: 1107093</span>
              </span>
            </div>
          </div>
          <div class="ticket-detail-container36">
            <div class="ticket-detail-container37">
              <span class="ticket-detail-text083">(3733303)</span>
              <span class="ticket-detail-text084">
                LBULEJE (Manager) [privado]
              </span>
              <span class="ticket-detail-text085">2023-05-30 16:55</span>
            </div>
            <div class="ticket-detail-container38">
              <span class="ticket-detail-text086">
                LBULEJE_13062023_TK3160477
              </span>
            </div>
          </div>
          <div class="ticket-detail-container39">
            <div class="ticket-detail-container40">
              <span class="ticket-detail-text087">(3733303)</span>
              <span class="ticket-detail-text088">
                LBULEJE (Manager) [privado]
              </span>
              <span class="ticket-detail-text089">2023-05-30 16:55</span>
            </div>
            <div class="ticket-detail-container41">
              <span class="ticket-detail-text090">
                Se actualizó el login de ODIAGA RIOS FATIMA. Puede añadir a
                mantenimiento de usuarios.
              </span>
            </div>
          </div>
          <div class="ticket-detail-container42">
            <div class="input-3" >
              <mat-form-field class="input-3" >
                <mat-label>Consultas o reclamos </mat-label>


                <textarea  class="textarea" rows="10" cols="10"  matInput></textarea>
                <mat-hint align="end">máximo 500 caracteres</mat-hint>

              </mat-form-field>
            </div>
            <button type="button" class="ticket-detail-button2 button">
              <span class="ticket-detail-text091">
                <span>Añadir nota</span>
                <br />
              </span>
            </button>
          </div>
          <div class="ticket-detail-container43">
            <span class="ticket-detail-text094">
              <span>
                Seleccionar archivo
              </span>
              <br />
              <span>
                (tamaño max. 5000 Kb)
              </span>
            </span>
            <span class="ticket-detail-text098">
              <span>Ningún archivo seleccionado</span>
              <br />
            </span>
            <button type="button" class="ticket-detail-button3 button">
              <span class="ticket-detail-text101">Subir archivo</span>
            </button>
          </div>
        </div>
      </div>
    </div>

  </main>
  <div class="ticket-detail-container44"></div>
</div>
